* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-header { 

    padding: 20px;
    border: 10px;
    background-color: #1f2937;
    color: beige;
    
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #1f2937;
}

.section-one {
    min-height: 25vh;
    padding: 40px;
}

.logo {
    margin-right: auto;
}

.sign-up {
    display: block;
    background-color: blue;
    color: white;
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
}

h1, h4 {
    color: white;
}

h1 {
    font-size: 30px;
}

h4 {
    font-size: 12px;
}

.section-two {
    background-color: beige;
    height: 25vh;
    padding: 40px;
}

.header-text {
    color: #1f2937;
    text-align: center;
}

.section-three {
    background-color: grey;
    color: black;
    height: 25vh;
    padding: 40px;
    text-align: center;
}


.text {
    text-align: center;
    max-width:800px;
    margin: 0 auto;
}

.section-four {
    background-color: white;
    padding: 40px;
}

.cta {
    border: 2px solid white;
    background-color: blue;
    padding: 20px;
    max-width: 800px;  
    margin-left: auto;
    margin-right:auto;
    color: white;
    display: flex;
    align-items: center;
    gap: 40px
}

.call {
    flex: 1;
}

#cta-button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    
}

.little-footer {
    text-align: right;
}